.cache/
.idea/
CMakeCache.txt
CMakeFiles/  
cmake_install.cmake  
compile_commands.json  
gg.cbp  
graph  
graph_test  
lib/  
Makefile  
third_party/*
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Testing/
coverage/
